
@media (min-width: 1200px) {
    .cronometro {
      font-size: 22px;
    }
    .painel {
        font-size: 18px;
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
    .cronometro {
      font-size: 20px;
    }
    .painel {
        font-size: 16px;
    }
}
  

@media (max-width: 991.98px) {
    .mosquito1 {
        width: 12vw;
        height: 12vw;
    }

    .mosquito2 {
        width: 15vw;
        height: 15vw;
    }

    .mosquito3 {
        width: 18vw;
        height: 18vw;
    }

    .painel {
        width: 95%;
        left: calc(50% - 47.5%);
        font-size: 16px;
        max-width: none;
        padding: 8px;
    }

    .cronometro {
        font-size: 18px;
    }
}


@media (max-width: 767.98px) {
    .mosquito1 {
        width: 15vw;
        height: 15vw;
    }

    .mosquito2 {
        width: 18vw;
        height: 18vw;
    }

    .mosquito3 {
        width: 21vw;
        height: 21vw;
    }

    .painel {
        width: 98%;
        left: calc(50% - 49%);
        font-size: 14px;
        padding: 6px;
    }

    .cronometro {
      font-size: 16px;
    }
}
    

@media (max-width: 575.98px) {
    .mosquito1 {
        width: 20vw;
        height: 20vw;
    }

    .mosquito2 {
        width: 23vw;
        height: 23vw;
    }

    .mosquito3 {
        width: 26vw;
        height: 26vw;
    }
      
    .painel {
      width: 98%;
      left: calc(50% - 49%);
      font-size: 12px;
      padding: 4px;
    }

    .cronometro {
      font-size: 14px;
    }
}


@media (max-width: 392.98px) {
    .image-container {
        padding: 15px; 
    }

    .responsive-image {
        width: 90%; 
        max-width: 90%;
        margin: auto;
    }
}